.question-container {
    padding: 20px;
  }
  
  
  .options {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2196F3;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
  }
  
  button:hover {
    background-color: #1976d2;
    
  }
  .question-part{
    background-color: rgb(23, 74, 241);
    height: 5vh;
    text-align: center;    
    padding: 10px;
    border: solid 3px  #f0b30b;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
  }
  .answer-btn{
    background-color: rgb(23, 74, 241);
    height: 5vh;
    text-align: center;    
    padding: 10px;
    border: solid 3px  #f0b30b;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
  }
  @media screen and (min-width:576px) {
    .answer-btn{
      background-color: rgb(23, 74, 241);
    
      text-align: center;    
      padding: 10px;
      border: solid 3px  #f0b30b;
      color: #ffffff;
      font-family: 'Courier New', Courier, monospace;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      border-radius: 45px;
  }
}